
.div {
    position: relative;
    width: 70%;
    display: flex;
    overflow: hidden;
    padding: 40px;
}
.div .span {
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    filter: drop-shadow(0 0 10px #f60000);
    border-radius: 50%;
    animation: notleft 3s ease infinite;
}
.span:nth-child(2) {
    animation-delay: .4s;
}
.span:nth-child(3) {
    animation-delay: .5s;
}
.span:nth-child(4) {
    animation-delay: .6s;
}
.span:nth-child(5) {
    animation-delay: .7s;
}
@keyframes notleft{
    50% {
        left: 50%;
    }
    100% {
        left: 120%;
    }
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding: 10px 40px 10px 10px;
    color: #000000;
}
.input-search::placeholder{
    color: rgba(16, 16, 16, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    color: #1f1d1d;
    background-color:transparent;
    pointer-events: painted;
}


.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0;
    background-color: transparent;
    border-bottom:1px solid rgba(3, 3, 3, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 300px;
    border-radius: 0;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}




/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

.searchInFilial{
    margin-left: 800px;
}


@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.mx-auto {
    margin-right: auto !important;
}
.content-wrapper {
    background: #000000;
    padding: 1.875rem 1.75rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.auth.login-bg {
    background: url(banner.jpg);
    background-size: cover;
}
.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
}
.banner {
    background: url(banner.jpg) no-repeat fixed center top;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
}
.banner-text {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.banner-cell {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.banner-text h1 {
    font-family: 'nautilus_pompiliusregular';
    letter-spacing: 2.7px;
    position: relative;
    display: inline-block;
    font-size: 74px;
    line-height: 100px;
    color: #fff;
    padding-bottom: 0;
    padding-top: 100px;
}
.banner-text h2 {
    color: #e75b1e;
}

.banner-text h2 {
    font-family: 'nautilus_pompiliusregular';
    letter-spacing: 2.7px;
    position: relative;
    font-size: 37px;
    line-height: 100px;
    padding-bottom: 25px;
}
.banner-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ccc;
    padding-bottom: 35px;
    margin: 0px;
}
.book-btn a {
    background: #e75b1e;
    border: 3px solid #e75b1e;
}

.book-btn a {
    background: #e75b1e;
    color: #fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}


.page-body-wrapper {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.25s ease;
    width: calc(100% - 244px);
}

.container-scroller {
    display: flex;
    position: relative;
}
.container-scroller {
    overflow: hidden;
}

.card .card-title {
    color: #ffffff;
    margin-bottom: 1.125rem;
    text-transform: capitalize;
}

.form-control{
    border: 1px solid #2c2e33;
    height: calc(2.25rem + 2px);
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.625rem 0.6875rem;
    background-color: #2A3038;
    border-radius: 2px;
    color: #ffffff;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #191c24;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0;
}

.basic .card:hover{
    transition: .5s;
    box-shadow: 1px 5px 10px 1px white;
}

.sign-up {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.special-box {
    padding-bottom: 40px;
}

.font-weight-medium {
    font-weight: 500;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.preview-list .preview-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
    font-size: .875rem;
}

.preview-list .preview-item .preview-item-content {
    line-height: 1;
    padding-left: 15px;
}

.flex-grow {
    flex-grow: 1;
}

.border-bottom {
    border-bottom: 1px solid #2c2e33 !important;
}

.preview-list .preview-item .preview-thumbnail {
    color: #ffffff;
    position: relative;
}

.mediaCarauselinBasic{
    display: none;
}

.sale .mediaCarauselinBasic{
    display: block;
}

.mobileFooter{
    display: none;
}


.searchInBasic{
    margin-left: 200px;
    display: flex;
    margin-top: 30px;
}

.saleInBasic{
    margin-left: 100px;
    width: 20%;
}
.search{
    width: 50%;
    margin-right: 100px;
}

.menues:hover{
    text-decoration-skip: revert;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: gray;
    text-decoration-style: initial;
    -webkit-transition-delay: inherit;
}

.category{
    margin-left: 150px;
}

.categoryName{
    margin-right: 70px;
}

.aksiyacarusel{
    margin-left: 140px;
    display: flex;
    align-items: center;
}

.carimg{
    border-radius: 50px;

}
.oneCategory{
    margin: 50px 150px;
    width: 80%;
}

.oneProduct:hover {
    transition: 0.4s;
    box-shadow: 1px 1px 10px 1px black;
    border-radius: 5px;
}

@media (max-width: 992px){
    .page-body-wrapper {
        width: 100%;
    }
}
.saleButton{
    margin-bottom: 20px;
}

.ProductCard{
    margin-left: 100px;
}
.salejon{
    transform: rotateZ(40deg);
    background-color: transparent;
    position: absolute;
    right: 170px;
    top: 650px;
}

.MediaCard{
    display: none;
}
.mobileUserFooter{
    display: none;
}
.myAccount{
    width: 70%;
}

.accountImg{
    width: 50%;
    height: 50vh;
}
.descUserFooter{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.basketSearch{
    width: 70%;
    margin-left: 200px;
    margin-bottom: 20px;
}

.basketLabel{
    margin-left: 400px;
}

.contactForm{
    padding: 100px;
    border: 1px solid red;
}

@media only screen and (max-width: 464px){
    .contactForm{
        margin-top: 50px;
    }
    .contactLabel{
        margin-left: 150px;
        margin-bottom: 10px;
    }
    .basketSearch{
        width: 100%;
        margin-left: 0;
    }
    .basketLabel{
        margin-left: 110px;
        margin-bottom: 10px;
    }
    .myAccount{
        width: 100%;
    }
    .accountImg{
        height: auto;
    }
    .mobileUserFooter{
        position: fixed;
        bottom: 70px;
        display: flex;
        background-color: goldenrod;
        width: 100%;
        padding-left: 20px;
    }

    .mobileItem{
        padding: 10px 50px;
        font-size: 20px;
        color: #fff;
    }
    .salejon{
        top: 440px;
        right: -10px;
        transform: rotateZ(90deg);
        width: 20%;
    }
    .Action{
        display: flex;
    }
    .registerjon .card{
        margin-bottom: 250px;
    }
    .loginjon .card{
        margin-bottom: 300px;
    }
    .basic .card {
        margin-bottom: 10px;
    }
    .authentication{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 5px;
        right: 10px;
    }
    .aksiyacarusel{
        display: none;
    }
    .mediaCarauselinBasic{
        display: block;
    }

    .descUserFooter{
        display: none;
    }
    .descFooter{
        display: none;
    }
   .saleButton{
       margin-bottom: 20px;
   }
   .searchInBasic{
       margin-left: 0;
       display: flex;
       flex-direction: column;
   }
   .saleInBasic{
       width: 50%;
       margin-top: 10px;
       margin-left: 100px;
   }

   .search{
       width: 100%;
   }
   .category{
       margin-left: 0;
   }
   .category{
       margin-bottom: 100px;
   }
   .navbarCategory{
       margin-bottom: 10px;
   }

   .oneCategory{
       margin: 30px 0;
       height: 30vh;
       width: 100%;
   }
   .ProductCard{
       display: none;
   }
   .MediaCard{
       display: block;
   }
}

@media only screen and (max-width: 820px) {
    .registerjon .card{
        margin-bottom: 550px;
    }
    .loginjon .card{
        margin-bottom: 550px;
    }

    .messageandCar{
        margin-bottom: 110px;
    }
    .descFooter{
        display: none;
    }
    .mobileFooter{
        display: block;
        position: fixed;
        width: 100%;
        bottom: 70px;
    }
    .categoryName{
        margin-right: 0;
    }
}